.form {
    background-color: white;
    width: 500px;
    min-width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .inputs {
        background-color: greenyellow;
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        input {
            width: 90%;
            height: 40px;
        }

        .message {
            height: 90%;
        }
    }

    .buttons {
        background-color: aqua;
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        button{
            width: 100px;
            height: 30px;
        }
    }

    .finishedContainer{
        background-color: pink;
        width: 90%;
        height: 90%;
    }

    &.info {
        .inputs {

            .message {
                display: none;
            }
        }

        .buttons {

            .previous {
                display: none;
            }

            .submit {
                display: none;
            }
        }

        .finishedContainer{
            display: none;
        }
    }

    &.msg {

        .inputs {

            .name {
                display: none;
            }

            .email {
                display: none;
            }
        }

        .buttons {

            .next {
                display: none;
            }
        }
        .finishedContainer{
            display: none;
        }
    }

    &.finished{
        .inputs{
            display: none;
        }

        .buttons{
            display: none;
        }
    }
}