@import "../../global.scss";

.form {
    width: 1650px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 1s ease;

    .sectionForm {
        width: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .inputs {
            width: 500px;
            height: 70%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            background: #000000;
            background: -moz-linear-gradient($darkLinearGradient);
            background: -webkit-linear-gradient($darkLinearGradient);
            background: linear-gradient($darkLinearGradient);

            input {
                width: 90%;
                height: 40px;
                border-radius: 5px;
                outline: none;
                background: linear-gradient(45deg,rgba(22, 113, 176, 1) 0%, rgba(0, 212, 255, 1) 99%);
            }

            .message {
                height: 90%;
            }
        }

        .buttons {
            width: 90%;
            height: 40px;
            display: flex;
            justify-content: space-around;
            
            button{
                width: 100px;
                height: 38px;
                border-radius: 5px;
                border: 1px solid dodgerblue;
                cursor: pointer;

                background: linear-gradient(45deg,rgba(22, 113, 176, 1) 0%, rgba(0, 212, 255, 1) 99%);

                &:hover{
                    border: 1px solid black;
                }
            }
        }

        .finisheContainer{
            background-color: pink;
            width: 90%;
            height: 90%;
        }
    }

}