@import "../../global.scss";

.portfolio {
    //background-color: rgba(0, 255, 255, 0.432);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        color: white;
        font-size: 42px;
        text-shadow: 0 0 5px #000000,
            0 0 10px #000000,
            0 0 15px #000000,
            0 0 20px #000000,
            0 0 30px #000000,
            0 0 40px #000000,
            0 0 55px #000000,
            0 0 75px #000000;
        cursor: default;
    }

    .mainContainer {
        //background-color: red;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        @include tablet {
            width: 100%;
        }

        .list {
            width: 700px;
            max-width: 100%;
            list-style: none;
            display: flex;
            justify-content: space-around;
            position: absolute;
            top: 0;

            li {
                background-color: rgb(55, 97, 99);
                color: rgb(255, 255, 255);
                font-weight: 500;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                -webkit-box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 15px 5px rgba(0, 0, 0, 0);
                box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(0, 0, 0) 4px 4px 15px 0px inset, 5px 5px 15px 5px rgba(0, 0, 0, 0);

                &:hover {
                    color: black;
                    -webkit-box-shadow: rgb(0, 0, 0)x 5px 5px 0px, rgb(152, 194, 219) 4px 4px 15px 0px inset, 5px 5px 15px 5px rgba(0, 0, 0, 0);
                    box-shadow: rgb(0, 0, 0) 5px 5px 5px 0px, rgb(152, 194, 219) 4px 4px 15px 0px inset, 5px 5px 15px 5px rgba(0, 0, 0, 0);
                }
            }
        }

        .container {
            //background-color: rgba(0, 128, 0, 0.527);
            width: 700px;
            max-width: 100%;
            height: 90%;
            max-height: 450px;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .item {
                position: relative;
                width: 200px;
                height: 150px;
                border-radius: 5px;
                -webkit-box-shadow: 8px 8px 5px 0px #000000;
                box-shadow: 8px 8px 5px 0px #000000;

                .info {
                    background: #000000;
                    background: -moz-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: -webkit-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    transition: all 0.5s ease;
                    cursor: default;
                    z-index: -1;

                    h3 {
                        color: #7e6fd4;
                        text-align: center;
                    }

                    nav {
                        width: 80%;
                        height: 40px;
                        display: flex;
                        justify-content: space-around;

                        a {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            /*this basically create a tooltip*/
                            &.github {

                                &:hover {
                                    &::after {
                                        content: "source code";
                                    }
                                }

                            }

                            &:hover {

                                &::after {
                                    color: white;
                                    content: "preview";
                                    width: 90px;
                                    padding: 3px;
                                    text-align: center;
                                    border-radius: 5px;
                                    background-color: black;
                                    position: absolute;
                                    bottom: 60px;
                                    left: 50px;
                                    z-index: 999;
                                }

                            }

                            /*end of tooltip*/


                            .icon {
                                font-size: 40px;
                                color: rgb(255, 255, 255);

                                &:hover {
                                    color: aqua;
                                    filter: drop-shadow(1px 1px 4px rgb(199, 178, 178));
                                }
                            }
                        }
                    }

                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                @include tablet {
                    width: 140px;
                    height: 140px;
                }

                &:hover {


                    .info {

                        z-index: 0;
                    }
                }

                &.empty {
                    overflow: hidden;
                    cursor: default;
                    background: -moz-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: -webkit-linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);
                    background: linear-gradient(45deg, #000000 0%, #061722 50%, #0A2A3E 100%);

                    h3 {
                        width: 250px;
                        padding: 8px 0;
                        text-align: center;
                        background-color: #175c86;
                        transform-origin: left;
                        transform: rotate(35.7deg) translateY(-13px) translateX(-10px);
                        background: #7366CE;
                        background: -moz-linear-gradient(top, #7366CE 0%, #443AA4 55%, #2B1DC5 100%);
                        background: -webkit-linear-gradient(top, #7366CE 0%, #443AA4 55%, #2B1DC5 100%);
                        background: linear-gradient(to bottom, #7366CE 0%, #443AA4 55%, #2B1DC5 100%);
                    }

                    &:hover {
                        -webkit-box-shadow: 0px 0px 3px 3px #FFFFFF;
                        box-shadow: 0px 0px 3px 3px #ffffff;


                    }

                }



            }
        }
    }
}