/*here we define the circle for each
percentage received via props*/

.skill {

    &.percent74 {
        circle {
            animation: percent74 2s linear forwards;
        }

    }

    &.percent69 {
        circle {
            animation: percent69 2s linear forwards;
        }

    }

    &.percent65 {
        circle {
            animation: percent65 2s linear forwards;
        }

    }

    &.percent57 {
        circle {
            animation: percent57 2s linear forwards;
        }

    }

    &.percent53 {
        circle {
            animation: percent53 2s linear forwards;
        }

    }
}



@keyframes percent74 {
    100% {
        stroke-dashoffset: calc(472 - (472 * 0.74));
    }
}

@keyframes percent69 {
    100% {
        stroke-dashoffset: calc(472 - (472 * 0.69));
    }
}

@keyframes percent65 {
    100% {
        stroke-dashoffset: calc(472 - (472 * 0.65));
    }
}

@keyframes percent57 {
    100% {
        stroke-dashoffset: calc(472 - (472 * 0.57));
    }
}

@keyframes percent53 {
    100% {
        stroke-dashoffset: calc(472 - (472 * 0.53));
    }
}