.card {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    position: relative;
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;

    .cardBack,
    .cardFront {
        height: 100%;
        width: 100%;
        border-radius: 7px;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .cardBack {
        background-color: rgb(66, 56, 56);
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cardFront {
        background: url("../../../public/assets/xisto2.jpg");
        background-size: cover;
        /*this animation is located in global.scss file*/
        animation: animationShadow 1s infinite alternate;
        transition: all 5s ease;

        img {
            border-radius: inherit;
        }
    }
}
