@import "../../global.scss";

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px;


    .formContainer {
        width: 550px;
        height: 500px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-image:
        repeating-linear-gradient(315deg, #00FFFF2E 92%, #073AFF00 100%),
        repeating-linear-gradient(-315deg, #00FFFF2E 92%, #073AFF00 100%),
        radial-gradient(160% 154% at 711px -303px, #000000 0%, #0A2A3E 100%);

        .progressBar {
            background-color: white;
            width: calc(500px - 30px);
        }

        .slider {
            width: 550px;
            max-width: 550px;
            height: 350px;
            max-height: 87%;
            overflow: hidden;

        }
    }


}