.contact {
    background-color: rgba(137, 43, 226, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .formContainer {
        background-color: burlywood;
        width: 550px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .progressBar {
            background-color: white;
            width: calc(500px - 30px);
        }

        .slider {
            width: 500px;
            max-width: 500px;
            height: 350px;
            overflow: hidden;

        }
    }


}