@import "../../global.scss";

.sidebar {
    width: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    left: 30px;
    z-index: 1;

    @include tablet {
        left: 5px;
    }

    @include mobileTurned {
        left: 5px;
    }


    .list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;

        .itemList {
            height: 50px;

            .icon {
                color: rgb(255, 255, 255);
                font-size: 50px;
                filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
                cursor: pointer;

                &:hover {
                    color: aqua;
                    filter: drop-shadow(1px 1px 4px rgb(199, 178, 178));
                }

                @include mobileTurned {
                    color: aqua;
                }
            }
        }
    }

    &.row {
        height: 100%;
        width: 200px;
        position: initial;

        .list {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }
}

@include mobile {
    .sidebar {
        display: none;

        .list {

            .itemList {
                height: 40px;

                .icon {
                    font-size: 40px;
                    color: aqua;
                }
            }
        }
    }
}
@include mobileTurned {
    .sidebar {
        display: none;

        .list {

            .itemList {
                height: 40px;

                .icon {
                    font-size: 40px;
                    color: aqua;
                }
            }
        }
    }
}