@import "../../global.scss";

.formInput {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    label {
        color: aqua;
        font-size: 22px;
    }

    input {
        box-sizing: border-box;
        padding: 10px;
        width: 90%;
        height: 40px;
        border-radius: 5px;
        outline: none;
        background: linear-gradient(45deg, rgba(22, 113, 176, 1) 0%, rgba(0, 212, 255, 1) 99%);

        &:invalid[focused="true"]~span {
            opacity: 1;
        }

        &::placeholder{
            color: rgb(46, 43, 43);
        }
    }

    .alert {
        width: 90%;
        color: red;
        text-align: center;
        opacity: 0;
    }

    @include tablet{
        label{
            font: 16px;
        }

        .alert{
            font-size: 13px
        }
    }

    @include mobile{
        label{
            font: 16px;
        }

        .alert{
            width: 96%;
            font-size: 11px
        }
    }
}